[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
example_mypy_plugin = {editable = true,path = "."}

[dev-packages]
mypy = "~= 0.620"
ptpython = "*"
yapf = "*"

[requires]
python_version = "3.7"
